
html {
    background: url('https://carwad.net/sites/default/files/faded-american-flag-background-144800-7819803.jpg') fixed; 
    background-repeat: no-repeat;
    background-size: cover;
  }

header ul li {
    /*padding: 17px;*/
    list-style: none;
    text-align: right;  /*center;*/
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;

    display: block;  /*  inline;*/
    padding-right: 5%;
    padding-bottom: 17px;
    
}
header ul {
    text-align: right;
    margin-top: 50px;
}

.mainPagePanel{
    margin-top: 125px; 
}

.questionAnswerPanel{
    margin-top: auto;    
}

.mainPagePanel, .questionAnswerPanel {
    display: block;
    text-align: center;
    width: 50%;
    /*margin-top: auto;*/    
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    
}

button{
    font-size: 25px;
    width: 200px;
    height: 60px; 
    margin: 20px;
    background-color:blue;
    color: white;
}

button:hover {
	background-color: #e90303;
	cursor: pointer;
}

label:hover, label:focus {
    color: blue;
}


input[type=radio]:checked{
  box-shadow: 0 0 0 3px #e90303;  
}
 

form  label
{
    display: block;
    font-size: larger;
}

label
{  
    text-align: left;
}

fieldset div
{
    background-color: white;
    border: black;
    border-style: solid;
    padding: 10px;
    
}

fieldset
{
    border: none;
}


@media only screen and (min-width: 320px) {

    .mainPagePanel, .questionAnswerPanel
    {  
        width: 90%;
    }
  }

  @media only screen and (min-width: 768px) {

    .mainPagePanel, .questionAnswerPanel
    {  
        width: 50%;
    }
  }
  

a.left{
    position: fixed;
    left: 30px;
    vertical-align: middle;
    font-size: 25px;
  }
